.page__container {
    max-width: 69%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif, Arial;
    min-height: 100vh;

}

@media screen and (max-width: 459px) {
    .page__container {
        max-width: 88%;
    }
}